*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 1px black;
    height: 100vh;
    width:100vw;
}
.parent{
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}
.A{
    position: relative;
    width: 50%;
    height: 50%;
}
.img{
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 70%;
    margin: auto;
    
    }
.B{
    border: 1px solid black;
    width:50%;
    height: 50%;
    margin: auto;
}